# VSCode settings directory
.vscode/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Python cache directories
__pycache__/

# LaTeX directory
Images/
Figures/
main.pdf
*.tex

# Text files
Review_folders.txt
Review_notebooks.txt